body {
  background: rgb(62, 25, 111);
  background: linear-gradient(
    144deg,
    rgba(62, 25, 111, 1) 0%,
    rgba(122, 24, 139, 1) 36%,
    rgba(139, 40, 163, 1) 71%,
    rgba(148, 49, 104, 1) 100%
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

html,
body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

.navbar {
  z-index: 1000;
  padding-left: 1rem;
}

.sticky {
  z-index: 1000;
  position: fixed;
  top: 0;
  transition: 0.6s;
  padding-bottom: 1rem;
  background-color: #0000009c;
  width: 100%;
}

.download {
  font-family: "poppins", sans-serif;
  float: right;
  font-weight: 600;
  margin-top: 20px;
  margin-right: 30px;
  border: 1px solid #ffffff;
  font-size: 13px;
  padding: 8px 26px;
  cursor: pointer;
  color: #fff;
  text-decoration: none;
  border-radius: 40px;
}

.download:hover {
  transition: 0.3s;
  opacity: 0.9;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  background-color: rgba(255, 255, 255, 0.1);
}

.navbar_link {
  font-family: "Montserrat", sans-serif;
  float: right;
  font-size: 12px;
  margin-top: 33px;
  margin-right: 30px;
  text-decoration: none;
  color: #fff;
}

.criador {
  font-family: "Montserrat", sans-serif;
  float: right;
  font-size: 12px;
  margin-top: 33px;
  margin-right: 30px;
  text-decoration: none;
  color: #fff;
}

.topo {
  cursor: pointer;
  user-select: none;
}

.seta {
  display: inline-block;
  margin-left: 3px;
  vertical-align: middle;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid rgb(255, 255, 255);
}

.logo {
  height: 43px;
  margin-top: 20px;
  margin-left: 20px;
}

.menu {
  visibility: hidden;
  opacity: 0;
  margin-top: 3.75rem;
  padding-bottom: 1.5rem;
  position: fixed;
  background-color: #fff;
  min-width: 240px;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  transition-duration: 0.2s;
}

.menu_item {
  position: relative;
  display: inline-block;
  margin-top: 26px;
  font-size: 12px;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  color: #5e6175;
  margin-left: 26px;
}

.cascata {
  position: relative;
  float: right;
}

.cascata:hover .menu {
  visibility: visible;
  opacity: 1;
}

.principal {
  height: 100vh;
  width: 100vw;
  overflow-y: hidden;
}

.slogan_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 2rem;
}

.slogan {
  line-height: 1.5;
  font-size: 4rem;
  font-weight: 600;
  color: #e8dfef;
  font-family: "poppins", sans-serif;
  text-align: center;
}

.download_container {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 1rem 0 4rem 0;
}

.download_principal {
  font-family: "poppins", sans-serif;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 17px;
  padding: 0 4rem;
  cursor: pointer;
  color: #ffffff;
  background-color: #e06435;
  text-decoration: none;
  border-radius: 40px;
}

.download_principal:hover {
  opacity: 0.9;
  transition: 0.3s;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.download_principal h2 {
  font-size: 26px;
  font-weight: 500;
  margin-left: 20px;
}

.icon {
  margin-top: 16px;
  margin-left: 50px;
}

.previa_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.previa {
  width: 85%;
  margin: auto;
}

#comparacao {
  background-color: #fbfaff;
  display: inline-flex;
  flex-direction: column;
  width: 100%;
}

.comparacao_container {
  display: flex;
  justify-content: space-evenly;
  gap: 2rem;
  padding: 7.5rem 2rem;
}

.comparacao_tabela {
  border-radius: 14px !important;
  border: 1px solid #e5e5e5;
}

tr:nth-child(even) {
  background-color: #f6f4fa;
}

td,
th {
  text-align: left;
  padding: 12px;
  border: none;
}

th:first-child {
  font-size: 26px;
  font-weight: 600;
}

table {
  font-family: "poppins", sans-serif;
  border-collapse: separate;
  border-radius: 14px !important;
  border-spacing: 0;
  color: #212529;
}

table th img {
  margin-left: 32px;
}

table td img {
  margin-left: 46px;
}

.textotabela {
  padding-left: 30px;
}

.textocomp {
  padding: 0.5rem 3rem;
}

.textocomp h1 {
  font-family: "poppins", sans-serif;
  line-height: 1.5;
  font-size: 36px;
  font-weight: 600;
  color: #2b2a36;
}

.textocomp h2 {
  font-family: "poppins", sans-serif;
  font-weight: 400;
  margin-top: 2rem;
  font-size: 20px;
  text-align: justify;
  line-height: 1.7;
  color: #3b3e4f;
}

.box1 {
  position: relative;
  padding: 4px;
  background-image: linear-gradient(125deg, #460ba3, #be0069);
  border-radius: 14px;
  height: 100%;
  max-width: 32rem;
}

.box2 {
  background-color: #fbfaff;
  border-radius: 11px;
  height: 100%;
}

.divisa1 {
  width: 100%;
  transform: scale(-1, -1);
  position: absolute;
  margin-top: -1px;
  z-index: 2;
}

#visual {
  background-color: #f2f1ff;
  display: inline-flex;
  flex-direction: column;
  width: 100%;
}

.visual_container {
  display: flex;
  justify-content: space-evenly;
  gap: 2rem;
  margin-top: 12.5rem;
  padding: 12rem 5rem;
}

.textovisual {
  font-family: "poppins", sans-serif;
  font-size: 19px;
  max-width: 40%;
  font-weight: 600;
  color: #212529;
}

.textovisual h2 {
  font-size: 22px;
  color: #4800bd;
  font-weight: 600;
}

.visual_imagecontainer {
  max-width: 40%;
  display: inline-flex;
  vertical-align: middle;
}

.visualimg {
  width: 100%;
  object-fit: scale-down;
}

.textovisual h1 {
  line-height: 1.5;
  font-weight: 600;
  font-size: 35px;
}

.textovisual h3 {
  line-height: 1.5;
  font-size: 21px;
  font-weight: 400;
  color: #3b3e4f;
}

#vantagens {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
  padding: 12rem 5rem;
}

.card {
  border-radius: 17px;
  max-height: 44rem;
  width: 0;
  max-width: 28rem;
  flex: 1 1 10rem;
}

.card1 {
  display: flex;
  flex-direction: column;
  background: linear-gradient(145deg, #4c0f57, #15151a);
}

.card2 {
  overflow: hidden;
  background: linear-gradient(125deg, #972f7d, #461d58);
}

.card3 {
  overflow: hidden;
  background: linear-gradient(180deg, #490399, #0e011d);
}

.extensoes {
  float: right;
  border-radius: 20px;
  width: 440%;
  margin-right: 100px;
  margin-top: 30px;
}

.textocard2 {
  margin-left: 45px;
  width: 80%;
  font-family: "poppins", sans-serif;
}

.textocard2 h2 {
  line-height: 1.5;
  margin-top: 40px;
  font-weight: 600;
  font-size: 35px;
  color: #fff;
  margin-bottom: 22px;
}

.textocard2 h3 {
  line-height: 1.5;
  font-size: 17px;
  font-weight: 400;
  color: rgb(243, 241, 241);
}

.card1 h2 {
  line-height: 1.5;
  font-weight: 600;
  font-family: "poppins", sans-serif;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 30px;
  font-size: 40px;
  color: #ffffff;
  margin-bottom: 24px;
}

.card1_imagecontainer {
  margin-top: 30px;
  height: 40%;
  width: 100%;
  justify-content: center;
  display: flex;
}

.card1 h3 {
  line-height: 1.5;
  font-family: "poppins", sans-serif;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: auto;
  font-size: 20px;
  text-align: center;
  font-weight: 400;
  color: #f7f2f0;
  margin-bottom: 26px;
}

.card3 h2 {
  line-height: 1.5;
  font-weight: 600;
  font-family: "poppins", sans-serif;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 40px;
  font-size: 41px;
  color: #ffffff;
  margin-bottom: 22px;
}

.card3 h3 {
  line-height: 1.54;
  font-family: "poppins", sans-serif;
  margin-left: 40px;
  margin-right: 50px;
  margin-top: 60px;
  font-size: 19px;
  font-weight: 400;
  color: rgb(243, 241, 241);
  margin-bottom: 22px;
}

.card3_imagecontainer {
  margin-top: 20px;
  height: 46%;
  width: 100%;
  justify-content: center;
  display: flex;
}

.divisa2 {
  width: 100%;
  position: absolute;
  margin-top: -1px;
  z-index: 2;
}

.secaodownload {
  overflow: hidden;
  background: rgb(62, 25, 111);
  background: linear-gradient(
    329deg,
    rgba(62, 25, 111, 1) 0%,
    rgba(122, 24, 139, 1) 36%,
    rgba(139, 40, 163, 1) 71%,
    rgba(148, 49, 104, 1) 100%
  );
}

#download {
  padding: 14rem;
  margin-top: 12rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sloganfinal {
  font-size: 50px;
  color: #f3eff7;
  font-family: "poppins", sans-serif;
  font-weight: 500;
  text-align: center;
}

.downloadfinal {
  font-family: "poppins", sans-serif;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 120px;
  padding: 0rem 6rem;
  cursor: pointer;
  color: #ffffff;
  background-color: #e06435;
  text-decoration: none;
  border-radius: 100px;
}

.downloadfinal:hover {
  opacity: 0.9;
  transition: 0.3s;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.downloadfinal h2 {
  vertical-align: center;
  font-size: 1.875rem;
  margin-left: 2rem;
  font-weight: 500;
}

.sloganfinal2 {
  font-family: "poppins", sans-serif;
  font-weight: 500;
  text-align: center;
  margin-top: 80px;
  color: #fff;
  font-size: 16px;
}

#rodape {
  background-color: #2c2c35;
  display: inline-flex;
  padding-bottom: 6rem;
  width: 100%;
}

.rodapebox {
  height: 411px;
  width: 1080px;
  display: block;
  margin: auto;
  margin-top: 96px;
}

.rodape_coluna {
  line-height: 1.9;
  float: left;
  position: static;
  width: 184px;
  height: 311px;
  margin-right: 32px;
}

.rodape_contatos {
  float: left;
  position: static;
  width: 184px;
  height: 311px;
}

.rodape_contatos h5 {
  font-weight: 300;
  font-size: 16px;
  margin-bottom: 0px;
  margin-top: 25px;
}

.rodape_coluna:first-child {
  float: left;
  position: static;
  width: 184px;
  height: 311px;
  margin-left: 16px;
}

.rodapebox h4 {
  color: #fff;
  font-size: 17px;
  margin-top: -5px;
  margin-bottom: 15px;
  font-family: "poppins", sans-serif;
  font-weight: 600;
}

.rodapebox h5 {
  color: #fff;
  font-weight: 400;
  font-size: 15px;
  font-family: "poppins", sans-serif;
}

.rodapebox a {
  color: #adb5bd;
  text-decoration: none;
  line-height: 2;
  font-size: 15px;
  font-family: "poppins", sans-serif;
  font-weight: 400;
}

.logofinal {
  width: 1080px;
  height: 30px;
  padding-top: 48px;
  margin-top: 24px;
  box-sizing: border-box;
  border-style: solid;
  border-color: #383e44;
  border-width: 1px 0px 0px 0px;
  display: inline-block;
}

.textofinal {
  margin-left: 5px;
  font-size: 14px !important;
  text-decoration: none;
}

.logofinal a {
  margin-top: 3px;
  float: right;
}

.margem {
  display: inline-block;
  margin-bottom: 25px;
}

.funcionalidades3 h1 {
  line-height: 1.5;
}

.celularmenu {
  position: absolute;
  display: none;
  background-color: #1d1c1f;
  z-index: 9;
  max-width: 92%;
  margin-left: 4%;
  margin-right: 4%;
  padding-bottom: 30px;
  border-radius: 7px;
  padding-right: 40%;
  box-sizing: border-box;
  border-style: solid;
  border-top: #2b19c3;
  border-width: 21px 0px 0px 0px;
}
.celularmenu .menu {
  visibility: visible;
}
.celularmenu .cascata .menu {
  display: inline-block;
  visibility: visible;
  opacity: 1;
}
.celularmenu .cascata {
  position: relative;
}

.celularmenu .menu2 {
  color: #afafaf;
  margin-top: 0px;
  margin-left: 0px;
}
.celularmenu .menu2:last-child {
  margin-bottom: 0px;
}

.barras {
  height: 43px;
}

.cel_navbutton {
  background: none;
  border: none;
  padding: 1rem;
  cursor: pointer;
  float: right;
  height: 43px;
  display: none;
}

.cel_navbar {
  display: none;
}

@media (max-width: 1100px) {
  .navbar a {
    display: none;
  }

  .cel_navbar {
    flex-direction: column;
    padding: 0 2rem 2rem 2rem;
  }

  .navbar_link {
    font-size: 14px;
  }

  .barras,
  .cel_navbutton {
    display: block;
  }

  .download {
    padding: 1rem 2rem;
    text-align: center;
  }

  .download:hover {
    background-color: rgba(41, 41, 41, 0.404);
  }

  .sticky {
    padding-bottom: 10px;
  }

  .barras:hover {
    filter: invert(30%) sepia(42%) saturate(7513%) hue-rotate(344deg)
      brightness(100%) contrast(98%);
  }

  header {
    background-color: #141414;
    padding-bottom: 10px;
  }

  .slogan {
    width: 100%;
    font-size: 60px;
  }
}

@media (max-width: 576px) {
  .navbar {
    padding-left: 0;
  }

  .navbar_link {
    margin-top: 1rem;
    margin-right: 0;
    font-size: 14px;
  }

  .download {
    margin-top: 0;
    margin-right: 0;
    padding: 1rem 2rem;
  }

  .cascata {
    float: right;
  }

  .download_container {
    flex-direction: column;
    margin: 1rem 0 2rem 0;
  }

  .download_principal {
    padding: 1rem 2rem;
    margin-top: 1rem;
  }

  .download_principal h2 {
    font-size: 20px;
    margin-left: 10px;
  }

  .icon {
    margin-top: 0;
    margin-left: 0;
  }

  .previa_container {
    flex-direction: column;
    margin: 0;
  }

  .previa {
    width: 100%;
  }

  .comparacao_container {
    flex-direction: column;
    padding: 2rem 1rem;
  }

  .comparacao_tabela {
    width: 100%;
  }

  .textocomp {
    padding: 0.5rem 3rem 2rem 3rem;
  }

  .textocomp h1 {
    font-size: 30px;
  }

  .textocomp h2 {
    font-size: 16px;
  }

  .visual_container {
    flex-direction: column;
    padding: 6rem 1rem;
  }

  .textovisual {
    max-width: 100%;
    margin-bottom: 2rem;
  }

  .textovisual h1 {
    font-size: 30px;
  }

  .textovisual h2 {
    font-size: 18px;
  }

  .textovisual h3 {
    font-size: 16px;
  }

  .visual_imagecontainer {
    max-width: 100%;
  }

  #vantagens {
    padding: 6rem 1rem;
    flex-direction: column;
  }

  .card {
    width: 100%;
    margin-bottom: 2rem;
    flex: auto;
  }

  .card1 h2 {
    font-size: 30px;
  }

  .card1 h3 {
    font-size: 16px;
  }

  .card3 h2 {
    font-size: 30px;
  }

  .card3 h3 {
    font-size: 16px;
  }

  .card1_imagecontainer img,
  .card3_imagecontainer img {
    width: 50%;
    margin-bottom: 4rem;
  }

  #download {
    padding: 6rem;
    margin-top: 6rem;
  }

  .sloganfinal {
    font-size: 40px;
  }

  .downloadfinal {
    padding: 1rem 2rem;
    margin-top: 2rem;
  }

  .downloadfinal h2 {
    font-size: 20px;
  }

  .sloganfinal2 {
    font-size: 14px;
  }

  .rodape {
    padding-bottom: 4rem;
  }

  .rodapebox {
    height: 100%;
    width: 100%;
    margin-top: 2rem;
  }

  .rodape_coluna {
    width: 100%;
    height: 100%;
    margin-right: 0;
    margin-left: 0;
  }

  .rodape_contatos {
    width: 100%;
    height: 100%;
  }

  .rodape_coluna:first-child {
    width: 100%;
    height: 100%;
    margin-left: 0;
  }

  .rodapebox h4 {
    font-size: 16px;
  }

  .rodapebox h5 {
    font-size: 14px;
  }

  .rodapebox a {
    font-size: 14px;
  }

  .logofinal {
    width: 100%;
    padding-top: 24px;
  }

  .textofinal {
    font-size: 12px !important;
  }

  .margem {
    margin-bottom: 1rem;
  }

  .comparacao_tabela {
    overflow-x: scroll;
  }
}

@media (max-width: 675px) {
  th:first-child {
    font-size: 18px;
  }

  table th img {
    margin-left: 0px;
  }

  table td img {
    margin-left: 10px;
  }

  .textotabela {
    padding-left: 10px;
  }

  .box1 {
    padding: 3px;
  }
}

@media (max-width: 455px) {
  .textotabela {
    font-size: 15px;
  }

  .comparacao_container {
    padding-left: 2px;
    padding-right: 2px;
  }
}

@media (max-width: 420px) {
  td,
  th {
    padding: 5px;
  }
  table th img {
    width: 40px;
    height: 40px;
  }
}
